<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-left">
      <img src="assets/images/aqwx.png" alt="Polytechnique Sousse" class="logo" />
      <p>Route  de 13 A aout au dessus de pharmacie de nuit  – mahdia kssour essef.</p>
      <p><strong>Contactez notre service admission et commercial :</strong></p>
      <p><i class="fa fa-phone"></i> (+216) 99 277 877</p>
      <p><i class="fa fa-phone"></i> (+216) 96 277 877</p>
      <p><i class="fa fa-phone"></i> (+216) 73 277 877</p>
      <p><i class="fa fa-phone"></i> (+216) 92 277 807</p>
      <p><i class="fa fa-envelope"></i> contact&#64;ELITEROBOTIQUE.tn</p>

    <div class="social-icons">
  <a href="https://www.facebook.com/Elite.Robotique" target="_blank" aria-label="Facebook">
    <img src="assets/images/facebook.jpg" alt="Facebook" />
  </a>
  <a href="https://www.linkedin.com/company/elite-robotique2019/posts/?feedView=all" target="_blank" aria-label="LinkedIn">
    <img src="assets/images/linked.jpeg" alt="LinkedIn" />
  </a>
  <a href="https://www.instagram.com/eliterobotique/" target="_blank" aria-label="Instagram">
    <img src="assets/images/insta.png" alt="Instagram" />
  </a>
</div>


    </div>

    <div class="footer-center">
      <h4>TOP MENU</h4>
      <ul>
        <li><a href="#">Documents utiles</a></li>
        <li><a href="#">Notre école</a></li>
        <li><a href="#">Pré-Inscription</a></li>
        <li><a href="#">Partenaires Internationaux</a></li>
        <li><a href="#">Vie étudiante</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <div class="footer-right">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3251.4828632729686!2d11.001366200000001!3d35.4180668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1302215948748c8f%3A0x2933928f93b4587!2sElite%20robotique!5e0!3m2!1sar!2stn!4v1753924898634!5m2!1sar!2stn"
        width="300"
        height="250"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>

  <div class="footer-bottom">
    <p>
      © 2025 Elite Robotique. All rights reserved. Elite robotique Ksour essef est une institution agréée,
      numéro 02-2009.
    </p>
    <p>
      EPS | <a href="#">Admission</a> | <a href="#">Formations</a> | <a href="#">Accréditation</a> |
      <a href="#">Vie Étudiante</a> | <a href="#">International</a> | <a href="#">Contact</a>
    </p>
  </div>
</footer>